.about {
    margin: 50px 0;
}

.about-card{
    width: 30%;
    height: 500px;
}

.about-card img{
    height: 200px; 
    display: block;
    border-radius: 100%;
    margin-top: 100px;
}

.name-card{
    text-align: center;
    margin-top: 20px;
}
.name-card p{
    margin-top: 10px;
    font-size: 25px;
}

.name-card iframe {
    width: 560px;
    height: 350px;
    margin-top: 15px;
}
